{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<body>
<!--header-->
{#<header>#}
{#    <div class="box">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-8 col-md-8">#}
{#                    <p class="title1">Free phone: <strong>800-2345-6789</strong></p>#}
{#                    <p class="title2">Hours:  8am-8pm PST M-Th;   6am-3pm PST Fri</p>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-4">#}
{#                    <a href="#" class="btn-default btn1">Register</a>#}
{#                    <a href="#" class="btn-default btn1">Sign In</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container">#}
{#        <h1 class="navbar-brand navbar-brand_"><a href="index.html"><img src="img/logo.png" alt=""></a></h1>#}
{#        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">#}
{#            <ul class="nav sf-menu clearfix">#}
{#                <li><a href="index.html">Home</a></li>#}
{#                <li class="sub-menu"><a href="index-1.html">About</a><span class="fa fa-angle-down"></span>#}
{#                    <ul class="submenu">#}
{#        				<li><a href="#">Lorem ipsum</a></li>#}
{#        				<li><a href="#">Dolor sit amet</a><span class="fa fa-angle-right"></span>#}
{#                            <ul class="submenu">#}
{#                                <li><a href="#">Dolore ipsu</a></li>#}
{#                                <li><a href="#">Consecte</a></li>#}
{#                                <li><a href="#">Elit Conseq</a></li>#}
{#                            </ul> #}
{#                        </li>#}
{#        				<li><a href="#">Conse ctetur</a></li>#}
{#                        <li><a href="#">Adipisicing</a></li>#}
{#                        <li><a href="#">Elit sed do</a></li>#}
{#                        <li><a href="#">Eiusmod tempor</a></li>#}
{#                        <li><a href="#">Incididunt ut labore</a></li>#}
{#                        <li><a href="#">Et dolore magna</a></li>#}
{#        			</ul>#}
{#                </li>#}
{#                <li><a href="index-2.html">Sell</a></li>#}
{#                <li><a href="index-3.html">Buy</a></li>#}
{#                <li><a href="index-4.html">Contact us</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#    </div>#}
{#</header>#}
<div class="content indent">
    <!--content-->
    <div class="thumb-box">
        <div class="container">
            <h2 class="policy-header">Purchasing Policy for Marklin Selling Website</h2>
            <ul class="list8">
                <li class="wow fadeInUp">
                    <h3>Knowing the rules and policies on this site can help you become a more successful seller. So before listing your item, make sure you read, understand, and regularly check our policies (including the rules for sellers and all applicable laws and regulations on the sale of your item. This can help you avoid potential problems. </h3>
                    <h2>Policies are intended to:</h2>
                    <li>Support laws and regulations</li>
                    <li>Minimise risks to sellers</li>
                    <li>Provide equal opportunity to all sellers</li>
                    <li>Provide an enjoyable buying experience</li>
                    <p>Make sure your listing follows our guidelines. If it doesn't, it may be removed, and your buying and selling privileges could be limited. </p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Prohibited and restricted items</h3>
                    <p>Our policies are often based on country laws, although in some cases, they may also be based on input from our customers and our own discretion, especially for dangerous or sensitive items.</p>
                    <p>Our policies cover 3 main areas – prohibited, restricted, and potentially infringing items. </p>
                    <p>Prohibited items are not allowed to be sold on our site, often because they're illegal or involve strict federal or state regulations.</p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Listing practices </h3>
                    <p>For a satisfying and fun experience on this site, we're helping sellers list their items in the most effective ways possible</p>
                    <p>Your item description and terms of sale can't be included in an image. They must be in the listing hosted in the description</p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Reporting breaches of selling policies </h3>
                    <p>If you see a listing that breaches our policies, please report it by clicking the Report item link in the listing, or by clicking the Contact Us link located on most of our help pages.</p>
                </li>
{#                <li class="wow fadeInUp">#}
{#                    <h3>Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. #}
{#Praesent vestibulum molestie lacus. Donec sit amet eros orem ipsum dolor sit amet.</h3>#}
{#                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>#}
{#                    <p>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>#}
{#                </li>#}
                <li class="wow fadeInUp">
                    <a href="#" class="mail">privacy@demolink.org</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--footer-->



<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>

{% endblock %}

<!--coded by lynx-->
</body>
</html>